.espaconave { 
    position: absolute; 
    top:75%;
    left:0; 
    z-index:1010; 
    width:100%; 
    height:25%;
    overflow: hidden;
}

.espaconave svg{
    -webkit-animation: voaMega 40s linear infinite;
            animation: voaMega 40s linear infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    position: relative;
    opacity: 0;
}

@keyframes voaMega {
    0% {
        top: 10%;
        left: 20%;
        opacity: 0;
    }
    2% {
        top: 10%;
        left: 20%;
        opacity: 1;
    }
    5%{
        top: 10%;
        left: 50%;
        opacity: 1;
    }
    10%{
        top: 10%;
        left: 20%;  
        opacity: 1;
    }
    15%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    20%{
        top: 10%;
        left: 40%;  
        opacity: 1;
    }
    25%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    30%{
        top: 10%;
        left: 30%;  
        opacity: 1;
    }
    35%{
        top: 10%;
        left: 35%;  
        opacity: 1;
    }
    40%{
        top: 10%;
        left: 20%;  
        opacity: 1;
    }
    45%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    50%{
        top: 10%;
        left: 20%;  
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes voaMega {
    0% {
        top: 10%;
        left: 20%;
        opacity: 0;
    }
    2% {
        top: 10%;
        left: 20%;
        opacity: 1;
    }
    5%{
        top: 10%;
        left: 50%;
        opacity: 1;
    }
    10%{
        top: 10%;
        left: 20%;  
        opacity: 1;
    }
    15%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    20%{
        top: 10%;
        left: 40%;  
        opacity: 1;
    }
    25%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    30%{
        top: 10%;
        left: 30%;  
        opacity: 1;
    }
    35%{
        top: 10%;
        left: 35%;  
        opacity: 1;
    }
    40%{
        top: 10%;
        left: 20%;  
        opacity: 1;
    }
    45%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    50%{
        top: 10%;
        left: 20%;  
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



.naveinimiga1 { 
    position: absolute; 
    top:0;
    left:0; 
    z-index:1010; 
    padding: -10%;
    width:100%; 
    height:100%;
    overflow:hidden;
}

.naveinimiga1 {
    -webkit-animation: voaNaveInimiga 40s linear infinite;
            animation: voaNaveInimiga 40s linear infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    position: relative;
    opacity: 0;
}

@keyframes voaNaveInimiga {
    0% {
        top: 1%;
        left: 10%;
        opacity: 0;
    }
    2% {
        top: 1%;
        left: 10%;
        opacity: 1;
    }
    5%{
        top: 4%;
        left: 50%;
        opacity: 1;
    }
    10%{
        top: 8%;
        left: 2%;  
        opacity: 1;
    }
    15%{
        top: 12%;
        left: 60%;  
        opacity: 1;
    }
    20%{
        top: 16%;
        left: 10%;  
        opacity: 1;
    }
    25%{
        top: 20%;
        left: 70%;  
        opacity: 1;
    }
    30%{
        top: 24%;
        left: 5%;  
        opacity: 1;
    }
    35%{
        top: 28%;
        left: 100%;  
        opacity: 1;
    }
    40%{
        top: 32%;
        left: 10%;  
        opacity: 1;
    }
    45%{
        top: 32%;
        left: -30%;  
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes voaNaveInimiga {
    0% {
        top: 1%;
        left: 10%;
        opacity: 0;
    }
    2% {
        top: 1%;
        left: 10%;
        opacity: 1;
    }
    5%{
        top: 4%;
        left: 50%;
        opacity: 1;
    }
    10%{
        top: 8%;
        left: 2%;  
        opacity: 1;
    }
    15%{
        top: 12%;
        left: 60%;  
        opacity: 1;
    }
    20%{
        top: 16%;
        left: 10%;  
        opacity: 1;
    }
    25%{
        top: 20%;
        left: 70%;  
        opacity: 1;
    }
    30%{
        top: 24%;
        left: 5%;  
        opacity: 1;
    }
    35%{
        top: 28%;
        left: 100%;  
        opacity: 1;
    }
    40%{
        top: 32%;
        left: 10%;  
        opacity: 1;
    }
    45%{
        top: 32%;
        left: -30%;  
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.espaconave svg:last-child {
    -webkit-animation: tiro 40s linear infinite;
            animation: tiro 40s linear infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    position: relative;
    opacity: 1;
}

@keyframes tiro {
    0% {
        top: 0%;
        left: 20%;
        opacity: 1;
    }
    2% {
        top: -100%;
        left: 20%;
        opacity: 1;
    }
    5%{
        top: -100%;
        left: 50%;
        opacity: 1;
    }
    6%{
        top: -100%;
        left: 20%;
        opacity: 0;
    }
    7%{
        top: 0%;
        left: 20%;  
        opacity: 0;
    }
    10%{
        top: 0%;
        left: 20%;  
        opacity: 1;
    }
    15%{
        top: -100%;
        left: 50%;  
        opacity: 1;
    }
    20%{
        top: -100%;
        left: 40%;  
        opacity: 0;
    }
    21%{
        top: 0%;
        left: 50%;  
        opacity: 0;
        
    }
    25%{
        top: 0%;
        left: 50%;  
        opacity: 1;
    }
    30%{
        top: -100%;
        left: 30%;  
        opacity: 1;
    }
    35%{
        top: -100%;
        left: 35%;  
        opacity: 1;
    }
    36%{
        top: -100%;
        left: 35%;  
        opacity: 0;        
    }
    37%{
        top: 0%;
        left: 20%;  
        opacity: 0;        
    }
    40%{
        top: 0%;
        left: 20%;  
        opacity: 1;
    }
    45%{
        top: -100%;
        left: 50%;  
        opacity: 1;
    }
    50%{
        top: -100%;
        left: 20%;  
        opacity: 1;
    }
    51%{
        top: -100%;
        left: 20%;  
        opacity: 0;        
    }
    100% {
        top: 0%;        
        opacity: 0;
    }
}
@-webkit-keyframes tiro {
    0% {
        top: 10%;
        left: 20%;
        opacity: 0;
    }
    2% {
        top: 10%;
        left: 20%;
        opacity: 1;
    }
    5%{
        top: 10%;
        left: 50%;
        opacity: 1;
    }
    10%{
        top: 10%;
        left: 20%;  
        opacity: 1;
    }
    15%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    20%{
        top: 10%;
        left: 40%;  
        opacity: 1;
    }
    25%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    30%{
        top: 10%;
        left: 30%;  
        opacity: 1;
    }
    35%{
        top: 10%;
        left: 35%;  
        opacity: 1;
    }
    40%{
        top: 10%;
        left: 20%;  
        opacity: 1;
    }
    45%{
        top: 10%;
        left: 50%;  
        opacity: 1;
    }
    50%{
        top: 10%;
        left: 20%;  
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
